<h1>QUICK QUOTE</h1>
<nav aria-label="Progress" class="progress">
  <ol class="progress__list">
    <!-- Current Step -->
    <li class="progress__item">
      <a href="#" class="progress__link progress__link--current" id="navStep1" aria-current="step">
        <span class="progress__step" id="navStep1">Step 1</span>
        <span class="progress__detail">Your Vehicle</span>
      </a>
    </li>

    <li class="progress__item">
      <a href="#" class="progress__link" id="navStep2">
        <span class="progress__step">Step 2</span>
        <span class="progress__detail">Your Upgrades</span>
      </a>
    </li>
    <li class="progress__item">
      <a href="#" class="progress__link" id="navStep3">
        <span class="progress__step">Step 3</span>
        <span class="progress__detail">Details</span>
      </a>
    </li>
  </ol>
</nav>

<div class="card">
  <!-- Step 1 -->
  <div class="card__content" id="step1">
    <h2 class="card__title">Select Your Vehicle</h2>
    <div class="card__text">
      <p>Select your vehicle below to begin your Autospec 4x4 Quick Quote.</p>
    </div>
    <div class="card__form">
      <div class="vehicle-container">
        <form id="vehicle-form">
          <!-- Make Selector -->
          <select id="select-make" class="custom-select">
            <option value="" disabled selected>Select Make</option>
          </select>
          <!-- Model Selector -->
          <select id="select-model" class="custom-select">
            <option value="">Select Model</option>
          </select>
          <!-- Year Selector -->
          <select id="select-year" class="custom-select">
            <option value="">Select Year</option>
          </select>
        </form>
      </div>
      <div class="button-container">
        <button type="button" class="form__button" id="nextStep1">Next Step</button>
      </div>
    </div>
  </div>

  <!-- Step 2 -->
  <div class="card__content" id="step2" style="display:none;">
    <h2 class="card__title">Select Your Upgrades</h2>
    <div class="card__text">
      <p>
        Choose one or more of the upgrades below and member of our team with find the exact part that best suits for
        your vehicle.
      </p>
    </div>
    <form class="card__form" id="upgradesForm">
      <fieldset class="upgrade-list">
        <legend class="upgrade-list__title">Select your upgrades</legend>

        <div class="upgrade-list__grid">
          <!-- Upgrade 1 -->
          <label class="option upgrade-list__option">
            <input
              type="checkbox"
              name="wheels"
              value="Wheels"
              class="option__input sr-only"
              aria-labelledby="Wheels upgrade option"
              aria-describedby="Wheels upgrade option"
            >
            <div class="option__interactive">
              <span class="option__content">
                <span class="option__details">
                  <span id="wheels-label" class="option__label">Wheels</span>
                  <img
                    src="https://cdn.shopify.com/s/files/1/0580/6050/5263/files/Group_1_28.webp?v=1706147724"
                    width="100%"
                    height="100%"
                    alt="Wheel upgrade"
                  >
                </span>
              </span>
              <svg class="option__icon" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
              </svg>
              <span class="option__border" aria-hidden="true"></span>
            </div>
          </label>

          <!-- Upgrade 2 -->
          <label class="option upgrade-list__option">
            <input
              type="checkbox"
              name="Tyres"
              value="Tyres"
              class="option__input sr-only"
              aria-labelledby="tyres"
              aria-describedby="Tyre upgrade option"
            >
            <div class="option__interactive">
              <span class="option__content">
                <span class="option__details">
                  <span id="tyre-lable" class="option__label">Tyres</span>
                  <img
                    src="https://cdn.shopify.com/s/files/1/0580/6050/5263/files/Group_1_29.webp?v=1706147836"
                    width="100%"
                    height="100%"
                    alt="Wheel upgrade"
                  >
                </span>
              </span>
              <svg class="option__icon" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
              </svg>
              <span class="option__border" aria-hidden="true"></span>
            </div>
          </label>

          <!-- Upgrade 3 -->
          <label class="option upgrade-list__option">
            <input
              type="checkbox"
              name="project-type"
              value="Suspension"
              class="option__input sr-only"
              aria-labelledby="suspension-label"
            >
            <div class="option__interactive">
              <span class="option__content">
                <span class="option__details">
                  <span id="suspension-label" class="option__label">Suspension</span>
                  <img
                    src="https://cdn.shopify.com/s/files/1/0580/6050/5263/files/Group_1_27.webp?v=1706146903"
                    width="100%"
                    height="100%"
                    alt="Suspension Upgrade"
                  >
                </span>
              </span>
              <svg class="option__icon" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
              </svg>
              <span class="option__border" aria-hidden="true"></span>
            </div>
          </label>

          <!-- Upgrade 4 -->
          <label class="option upgrade-list__option">
            <input
              type="checkbox"
              name="project-type"
              value="Tray"
              class="option__input sr-only"
            >
            <div class="option__interactive">
              <span class="option__content">
                <span class="option__details">
                  <span id="tray-label" class="option__label">Trays</span>
                  <img
                    src="https://cdn.shopify.com/s/files/1/0580/6050/5263/files/Group_1_32.webp?v=1706148237"
                    width="100%"
                    height="100%"
                    alt="Tray Upgrade"
                  >
                </span>
              </span>
              <svg class="option__icon" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
              </svg>
              <span class="option__border" aria-hidden="true"></span>
            </div>
          </label>

          <!-- Upgrade 5 -->
          <label class="option upgrade-list__option">
            <input
              type="checkbox"
              name="project-type"
              value="Canopy"
              class="option__input sr-only"
            >
            <div class="option__interactive">
              <span class="option__content">
                <span class="option__details">
                  <span id="canopy-label" class="option__label">Canopies</span>
                  <img
                    src="https://cdn.shopify.com/s/files/1/0580/6050/5263/files/Group_1_33.webp?v=1706148479"
                    width="100%"
                    height="100%"
                    alt="Canopy Upgrade"
                  >
                </span>
              </span>
              <svg class="option__icon" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
              </svg>
              <span class="option__border" aria-hidden="true"></span>
            </div>
          </label>

          <!-- Upgrade 6 -->
          <label class="option upgrade-list__option">
            <input
              type="checkbox"
              name="roof-rack"
              value="Roof Rack"
              class="option__input sr-only"
            >
            <div class="option__interactive">
              <span class="option__content">
                <span class="option__details">
                  <span id="roof-rack-label" class="option__label">Roof Racks</span>
                  <img
                    src="https://cdn.shopify.com/s/files/1/0580/6050/5263/files/Group_1_34.webp?v=1706149878"
                    width="100%"
                    height="100%"
                    alt="Roof Rack Upgrade"
                  >
                </span>
              </span>
              <svg class="option__icon" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
              </svg>
              <span class="option__border" aria-hidden="true"></span>
            </div>
          </label>

          <!-- Upgrade 7 -->
          <label class="option upgrade-list__option">
            <input
              type="checkbox"
              name="snorkle"
              value="Snorkle"
              class="option__input sr-only"
            >
            <div class="option__interactive">
              <span class="option__content">
                <span class="option__details">
                  <span id="roof-rack-label" class="option__label">Snorkles</span>
                  <img
                    src="https://cdn.shopify.com/s/files/1/0580/6050/5263/files/Group_1_35.webp?v=1706150488"
                    width="100%"
                    height="100%"
                    alt="Snorkle Upgrade"
                  >
                </span>
              </span>
              <svg class="option__icon" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
              </svg>
              <span class="option__border" aria-hidden="true"></span>
            </div>
          </label>

          <!-- Upgrade 8 -->
          <label class="option upgrade-list__option">
            <input
              type="checkbox"
              name="Battery"
              value="Battery"
              class="option__input sr-only"
            >
            <div class="option__interactive">
              <span class="option__content">
                <span class="option__details">
                  <span id="battery-label" class="option__label">Battery Solutions</span>
                  <img
                    src="https://cdn.shopify.com/s/files/1/0580/6050/5263/files/battery_1.webp?v=1706151074"
                    width="100%"
                    height="100%"
                    alt="Battery Upgrade"
                  >
                </span>
              </span>
              <svg class="option__icon" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
              </svg>
              <span class="option__border" aria-hidden="true"></span>
            </div>
          </label>

          <!-- Upgrade 9 -->
          <label class="option upgrade-list__option">
            <input
              type="checkbox"
              name="Bullbar"
              value="Bullbars"
              class="option__input sr-only"
            >
            <div class="option__interactive">
              <span class="option__content">
                <span class="option__details">
                  <span id="bullbar-label" class="option__label">Bullbars</span>
                  <img
                    src="https://cdn.shopify.com/s/files/1/0580/6050/5263/files/bullbar.webp?v=1706151468"
                    width="100%"
                    height="100%"
                    alt="Bullbars Upgrade"
                  >
                </span>
              </span>
              <svg class="option__icon" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
              </svg>
              <span class="option__border" aria-hidden="true"></span>
            </div>
          </label>

          <!-- Upgrade 10 -->
          <label class="option upgrade-list__option">
            <input
              type="checkbox"
              name="Rear Protection"
              value="Rear Protection"
              class="option__input sr-only"
            >
            <div class="option__interactive">
              <span class="option__content">
                <span class="option__details">
                  <span id="rear-protection-label" class="option__label">Rear Protection</span>
                  <img
                    src="https://cdn.shopify.com/s/files/1/0580/6050/5263/files/rearprotection.webp?v=1706151771"
                    width="100%"
                    height="100%"
                    alt="Rear Protection Upgrade"
                  >
                </span>
              </span>
              <svg class="option__icon" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
              </svg>
              <span class="option__border" aria-hidden="true"></span>
            </div>
          </label>

          <!-- Upgrade 11 -->
          <label class="option upgrade-list__option">
            <input
              type="checkbox"
              name="Side Protection"
              value="Side Protection"
              class="option__input sr-only"
            >
            <div class="option__interactive">
              <span class="option__content">
                <span class="option__details">
                  <span id="side-protection-label" class="option__label">Side Protection</span>
                  <img
                    src="https://cdn.shopify.com/s/files/1/0580/6050/5263/files/sideprotection.webp?v=1706152314"
                    width="100%"
                    height="100%"
                    alt="Side Protection Upgrade"
                  >
                </span>
              </span>
              <svg class="option__icon" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
              </svg>
              <span class="option__border" aria-hidden="true"></span>
            </div>
          </label>

          <!-- Upgrade 12 -->
          <label class="option upgrade-list__option">
            <input
              type="checkbox"
              name="Under Body Protection"
              value="Under Body Protection"
              class="option__input sr-only"
            >
            <div class="option__interactive">
              <span class="option__content">
                <span class="option__details">
                  <span id="under-body-protection-label" class="option__label">Under Body Protection</span>
                  <img
                    src="https://cdn.shopify.com/s/files/1/0580/6050/5263/files/Group_1_36.webp?v=1706152639"
                    width="100%"
                    height="100%"
                    alt="Under Body Protection Upgrade"
                  >
                </span>
              </span>
              <svg class="option__icon" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
              </svg>
              <span class="option__border" aria-hidden="true"></span>
            </div>
          </label>

          <!-- Upgrade 13 -->
          <label class="option upgrade-list__option">
            <input
              type="checkbox"
              name="Winches Accesories"
              value="Winches Accesories"
              class="option__input sr-only"
            >
            <div class="option__interactive">
              <span class="option__content">
                <span class="option__details">
                  <span id="winches-accesories-label" class="option__label">Winches & Accesories</span>
                  <img
                    src="https://cdn.shopify.com/s/files/1/0580/6050/5263/files/winches.webp?v=1706153034"
                    width="100%"
                    height="100%"
                    alt="Winiches & Accesories Upgrade"
                  >
                </span>
              </span>
              <svg class="option__icon" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
              </svg>
              <span class="option__border" aria-hidden="true"></span>
            </div>
          </label>

          <!-- Upgrade 14 -->
          <label class="option upgrade-list__option">
            <input
              type="checkbox"
              name="Dirving Lights"
              value="Driving Lights"
              class="option__input sr-only"
            >
            <div class="option__interactive">
              <span class="option__content">
                <span class="option__details">
                  <span id="driving-lights-label" class="option__label">Driving Lights</span>
                  <img
                    src="https://cdn.shopify.com/s/files/1/0580/6050/5263/files/drivnglights.webp?v=1706153349"
                    width="100%"
                    height="100%"
                    alt="Driving Lights Upgrade"
                  >
                </span>
              </span>
              <svg class="option__icon" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
              </svg>
              <span class="option__border" aria-hidden="true"></span>
            </div>
          </label>

          <!-- Upgrade 15 -->
          <label class="option upgrade-list__option">
            <input
              type="checkbox"
              name="Exhaust Systems"
              value="Exhaust Systems"
              class="option__input sr-only"
            >
            <div class="option__interactive">
              <span class="option__content">
                <span class="option__details">
                  <span id="exhaust-systems-label" class="option__label">Exhaust Systems</span>
                  <img
                    src="https://cdn.shopify.com/s/files/1/0580/6050/5263/files/exhaust.webp?v=1706153728"
                    width="100%"
                    height="100%"
                    alt="Exhaust Systems Upgrade"
                  >
                </span>
              </span>
              <svg class="option__icon" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
              </svg>
              <span class="option__border" aria-hidden="true"></span>
            </div>
          </label>

          <!-- Upgrade 16 -->
          <label class="option upgrade-list__option">
            <input
              type="checkbox"
              name="Oil & Fuel Systems"
              value="Oil & Fuel Systems"
              class="option__input sr-only"
            >
            <div class="option__interactive">
              <span class="option__content">
                <span class="option__details">
                  <span id="oil-fuel-systems-label" class="option__label">Oil & Fuel Systems</span>
                  <img
                    src="https://cdn.shopify.com/s/files/1/0580/6050/5263/files/fueloil.webp?v=1706154300"
                    width="100%"
                    height="100%"
                    alt="Oil & Fuel Systems Upgrade"
                  >
                </span>
              </span>
              <svg class="option__icon" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
              </svg>
              <span class="option__border" aria-hidden="true"></span>
            </div>
          </label>
        </div>
      </fieldset>
      <div class="button-container">
        <button type="button" class="form__button" id="backStep1">Back</button>
        <button type="button" class="form__button" id="nextStep2">Next Step</button>
      </div>
    </form>
  </div>

  <!-- Step 3 -->
  <div class="card__content" id="step3" style="display:none;">
    <h2 class="card__title">Enter Your Details</h2>
    <div class="card__text">
      <p>Let us know your details so that one of experts can contact with a quote.</p>
    </div>
    <form class="card__form" id="detailsForm">
      <div class="form__group">
        <div class="form__group-row">
          <label for="firstName" class="form__label"
            >First Name
            <input type="text" name="firstName" id="firstName" class="form__input" placeholder="First Name">
          </label>
          <label for="lastName" class="form__label"
            >Last Name <input type="text" name="lastName" id="lastName" class="form__input" placeholder="Last Name"
          ></label>
        </div>
        <div class="form__group-row">
          <label for="phone" class="form__label"
            >Phone Number
            <input type="tel" name="phoneNumber" id="phoneNumber" class="form__input" placeholder="Phone Number"
          ></label>
          <label for="email" class="form__label"
            >Email <input type="email" name="email" id="email" class="form__input" placeholder="Email"
          ></label>
        </div>
        <label for="message" class="form__label">Message</label>
        <textarea
          name="message"
          id="message"
          class="form__input"
          rows="5"
          cols="40"
          placeholder="Let us know any additional details about your vehicle or the upgrades that you're after."
        ></textarea>

        <label for="upgrades" class="form__label">Your Chosen Upgrades</label>
        <textarea
          name="upgrades"
          id="upgrades"
          class="form__input"
          rows="1"
        >        
      </textarea>

        <!-- Display Selected Vehicle -->
        <div id="selected-vehicle">
          <label for="vehicle" class="form__label">Your Vehicle</label>
          <p>Make: <span id="display-make"></span></p>
          <p class="text-slate-200">Model: <span id="display-model"></span></p>
          <p class="text-slate-200">Year: <span id="display-year"></span></p>
        </div>
      </div>
      <div class="button-container">
        <button type="button" class="form__button" id="backStep2">Back</button>
        <button type="button" class="form__button" onclick="goToStep(4)">Finish</button>
      </div>
    </form>
  </div>
</div>
{% style %}
  h1 {
    text-align: center;
    padding-bottom: 2rem;
    font-weight: 600;
  }

  .progress__list {
    display: flex;
    gap: 1.8rem;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    margin-bottom: 1rem;
  }

  .progress__item {
    flex: 1;
    list-style: none;
  }

  .progress__link {
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    text-decoration: none;
  }

  .progress__step {
    font-size: 0.775rem;
    font-weight: 400;
  }

  .progress__detail {
    font-size: 0.875rem;
    font-weight: 500;
    color: #212121;
  }

  .progress__link--completed {
    border-top: 4px solid #dc2626;
    color: #991b1b;
  }

  .progress__link--completed:hover {
    border-color: #f87171;
  }

  .progress__link {
    border-top: 4px solid #f87171;
    color: #f87171;
  }

  .progress__link:hover {
    border-top: 4px solid #dc2626;
  }

  .progress__link--current {
    border-top: 4px solid #dc2626;
  }

  .progress__link--current > span:nth-of-type(2n) {
    font-weight: 600;
  }

  .vehicle-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  form#vehicle-form {
    display: flex;
    gap: 1rem;
    width: 100%;
    max-width: 50rem;
  }

  #select-make,
  #select-model,
  #select-year {
    margin-top: 0px !important;
  }

  .card {
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    margin-bottom: 4rem;
  }

  .card__content {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
  }

  @media (min-width: 640px) {
    .card__content {
      padding: 3rem;
    }
  }

  .card__title {
    font-size: 2rem;
    text-align: center;
  }

  .card__text {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    text-align: center;
  }

  .card__form {
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 56rem;
    margin-inline: auto;
  }

  .form__group {
    flex: 1 1 100%;
    margin-right: 1rem;
  }

  @media (min-width: 640px) {
    .form__group {
      flex: 1 1 auto;
      width: 100%;
      max-width: 45rem;
    }

    .card__form {
      flex-wrap: nowrap;
    }
  }

  label.form__label {
    width: 100%;
  }

  .form__group-row {
    display: flex;
    width: 100%;
    gap: 1rem;
  }

  .form__input {
    width: 100%;
    padding: 0.375rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
    border: 1px solid rgba(156, 163, 175, 0.5);
    border-radius: 0.375rem;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }

  #message {
    background-clip: padding-box;
    height: auto;
    margin: 0;
    padding: 12px;
    vertical-align: baseline;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
  }

  button.form__button {
    margin: 1.4rem auto;
  }

  /* Step 2 */
  .upgrade-list {
  }

  .upgrade-list__title {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: #4a5568;
  }

  .upgrade-list__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  @media screen and (min-width: 640px) {
    .upgrade-list__grid {
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
    }
  }

  .option {
    position: relative;
    display: flex;
    cursor: pointer;
    border-radius: 0.5rem;
    border: 1px solid #f87171;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }

  .option__input:checked + .option__content + .option__icon {
    visibility: visible;
    fill: #dc2626;
  }

  .option__input:checked + .option__content + .option__border {
    border-color: #f87171;
  }

  .option__input:focus + .option__content + .option__border {
    border-width: 2px;
    border-color: #f87171;
  }

  .option__content {
    flex: 1;
    display: flex;
  }

  .option__details {
    display: flex;
    flex-direction: column;
  }

  .option__label {
    text-align: center;
    font-size: 0.875rem;
    font-weight: 600;
  }

  .option__description,
  .option__count {
    font-size: 0.875rem;
    color: #718096;
  }

  .option__count {
    font-weight: 500;
    margin-top: 1.5rem;
  }

  .option__icon {
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    height: 1.25rem;
    width: 1.25rem;
    color: #6366f1;
  }

  .option__border {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -4px;
    border-radius: 0.5rem;
    border: 2px solid transparent;
  }

  .option--checked {
    border-color: #f87171;
  }

  .option--checked .option__icon {
    visibility: visible;
    fill: #f87171;
  }

  .option--checked .option__border {
    border-width: 2px;
    border-color: #f87171;
  }

  .option:hover,
  .option__input:checked ~ .option__interactive .option:hover {
    border-color: #f87171;
  }

  .option__interactive {
    margin-top: 0px !important;
  }

  .option:focus-within {
    box-shadow: 0 0 0 1px #d60000;
  }

  .option--disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .option__icon {
    visibility: hidden;
    fill: #000; /* Default fill */
  }

  .option:hover {
    border-color: #d60000;
  }

  .option__input:checked ~ .option__interactive .option__border {
    border-color: #d60000;
  }
  .option__input:checked ~ .option__interactive .option__icon {
    visibility: visible;
    fill: #dc2626;
  }

  .button-container {
    display: flex;
    gap: 2rem;
    margin-top: 1.25rem;
  }

  #selected-vehicle > p {
    margin-bottom: 0px !important;
  }

  #message {
    background-clip: padding-box;
    height: auto;
    margin: 0;
    padding: 12px;
    vertical-align: baseline;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
  }

  textarea#upgrades {
    height: 80px;
    min-height: 80px;
  }

  .select-wrapper {
    width: 100%;
  }
{% endstyle %}

<script>
  // Function to directly navigate to a specific step
  function goToStep(stepNum) {
    // Hide all steps and remove current class from all nav links
    var allSteps = document.getElementsByClassName('card__content');
    var allNavLinks = document.querySelectorAll('.progress__link');
    for (var i = 0; i < allSteps.length; i++) {
      allSteps[i].style.display = 'none';
      allNavLinks[i].classList.remove('progress__link--current');
    }

    // Show the specified step and highlight the corresponding nav link
    var stepToShow = document.getElementById('step' + stepNum);
    var navLinkToHighlight = document.getElementById('navStep' + stepNum);
    if (stepToShow && navLinkToHighlight) {
      stepToShow.style.display = 'block';
      navLinkToHighlight.classList.add('progress__link--current');
    } else {
    }
  }

  // Add event listeners to the navigation links
  document.addEventListener('DOMContentLoaded', function () {
    // Initialize the first step
    goToStep(1);

    // Setup click event for each nav link
    var navLinks = document.querySelectorAll('.progress__link');
    navLinks.forEach(function (link, index) {
      link.addEventListener('click', function (event) {
        event.preventDefault(); // Prevent the default anchor behavior
        goToStep(index + 1); // Index is 0-based; steps are 1-based
      });
    });
  });

  // Add event listeners to upgrade options
  document.getElementById('upgradesForm').addEventListener('change', function (e) {
    if (e.target.type === 'checkbox') {
      let checkedValues = [];
      let checkboxes = document.querySelectorAll('#upgradesForm input[type="checkbox"]:checked');

      checkboxes.forEach(function (checkbox) {
        checkedValues.push(checkbox.value);
      });

      document.getElementById('upgrades').value = checkedValues.join(', ');
    }
  });

  // Event listeners for back and next buttons
  document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('nextStep1').addEventListener('click', function () {
      goToStep(2);
    });
    document.getElementById('nextStep2').addEventListener('click', function () {
      goToStep(3);
    });
    document.getElementById('backStep1').addEventListener('click', function () {
      goToStep(1);
    });
    document.getElementById('backStep2').addEventListener('click', function () {
      goToStep(2);
    });
  });

  document.addEventListener('DOMContentLoaded', function () {
    let vehicleData = {};
    let makes = [];
    let models = [];
    let years = [];

    const selectMake = document.getElementById('select-make');
    const selectModel = document.getElementById('select-model');
    const selectYear = document.getElementById('select-year');
    const displayMake = document.getElementById('display-make');
    const displayModel = document.getElementById('display-model');
    const displayYear = document.getElementById('display-year');

    // Fetch vehicle data
    fetch('https://cdn.shopify.com/s/files/1/0580/6050/5263/files/vehicle-json.json')
      .then((response) => {
        if (!response.ok) {
          throw new Error(`HTTP error! status: ${response.status}`);
        }
        return response.json();
      })
      .then((data) => {
        vehicleData = data;
        makes = Object.keys(data);
        updateDropdown(selectMake, makes);
      })
      .catch((error) => console.error('Error fetching vehicle data:', error));

    document.getElementById('vehicle-form').addEventListener('change', function (event) {
      if (event.target.matches('#select-make')) {
        const selectedMake = event.target.value;
        displayMake.textContent = selectedMake;
        updateModels(selectedMake);
      } else if (event.target.matches('#select-model')) {
        const selectedModel = event.target.value;
        displayModel.textContent = selectedModel;
        updateYears(selectedModel);
      } else if (event.target.matches('#select-year')) {
        const selectedYear = event.target.value;
        displayYear.textContent = selectedYear;
      }
    });

    function updateDropdown(dropdown, options) {
      // First, clear the dropdown to remove existing options
      while (dropdown.firstChild) {
        dropdown.removeChild(dropdown.firstChild);
      }

      // Then, for each option in the options array, create a new option element and append it to the dropdown
      options.forEach((option) => {
        const optionElement = document.createElement('option'); // Create a new OPTION element
        optionElement.value = option; // Set the value of the option
        optionElement.textContent = option; // Set the display text of the option
        dropdown.appendChild(optionElement); // Append the option element to the dropdown
      });

      // Optionally, reset the dropdown to its default state or to a placeholder value if necessary
      dropdown.value = '';
    }

    function updateModels(make) {
      let models = [];
      if (make && vehicleData[make]) {
        const modelCategories = Object.keys(vehicleData[make]);
        modelCategories.forEach((category) => {
          const modelsInCategory = Object.keys(vehicleData[make][category]);
          modelsInCategory.forEach((model) => {
            models.push(`${category} - ${model}`);
          });
        });
        updateDropdown(selectModel, models);
      } else {
        updateDropdown(selectModel, models); // This will clear the models dropdown
      }
      // Reset the model dropdown and manually trigger a change event
      selectModel.value = '';
      selectModel.dispatchEvent(new Event('change')); // Manually trigger the change event

      // Reset and update the years dropdown
      let years = [];
      updateDropdown(selectYear, years);
      // Manually trigger a change event for the selectYear dropdown to ensure any attached listeners are notified
      selectYear.dispatchEvent(new Event('change'));
    }

    function updateYears(selectedModel) {
      if (selectedModel && selectMake.value && vehicleData[selectMake.value]) {
        const [category, modelFromSplit] = selectedModel.split(' - ');
        let years =
          vehicleData[selectMake.value][category] && vehicleData[selectMake.value][category][modelFromSplit]
            ? vehicleData[selectMake.value][category][modelFromSplit]
            : [];
        updateDropdown(selectYear, years);
      } else {
        years = [];
        updateDropdown(selectYear, years);
      }
    }
  });
</script>
